.sideBarOpen {
    background: #07112A;
    color: #ffffff;
    width: 15%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Adjust how far the side bar extends outward */
    position: fixed;
    z-index: 1000;
}

.sideBarClosed {
    background: #07112A;
    color: white;
    width: 15%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-150%);
    position: fixed;
    z-index: 1000;
}

.classLayout {
    display: flex;
    transition: margin-left 0.3s ease-in-out;
    /* margin-left: 3%; Adjust left side of class screen */
}

.classLayout.shifted {
    margin-left: 15%;
}

.sideBarButton {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1100; 
    cursor: pointer;
    transition: left 0.3s ease-in-out;
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.sideBarButton.shifted {
    left: 12%;
    color: white;
    top: 20px;
}

.aboveSignOut {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signOutButton {
    background-color: #C03221;
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 15%;
    position: absolute;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbarTop {
    background: #182C64;
    color: #E9F1F7;
    padding-left: 5%;
    height: 6.5rem;
}

.navbarGreeting {
    display: flex;
    flex-direction: column;
}

.sideBarList {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    gap: 42rem;
    justify-content: space-between;
    align-items: center;
}

.classSettings {
    display: flex;
    gap: 0.5rem;
    margin-right: 2rem;
    border-radius: 15px;
    z-index: 1001;
    padding-bottom: 2rem;
    margin-top: 0.5rem;
}

.aboveSignOut {
    z-index: 1001;
    background: #07112A;
    width: 100%;
    height: 4rem;
}

.classSettingsButton {
    background: #07112A;
    border-radius: 15px;
}

.downArrow {
    padding-top: 0.2rem;
}

.classList {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    overflow-y: scroll;
    max-height: 1200px;
    height: 95%;
    width: 15rem;
    scrollbar-width: none;
    gap: 1rem;
    position: absolute;
    padding-top: 5rem;
}

.classList .classTab {
    width: 80%;
    display: flex;
    padding: 0.7rem;
    border-radius: 15px;
    background: #E9F1F7;
    color: #182C64;
    font-weight: bold;
    font-size: 1.2rem;
    border: 5px solid #5574ca;
    transition: background 0.2s ease-in-out;
}

.classList .classTab:hover {
    background: #FFBF46;
    transition: background 0.2s ease-in-out;
}

.classList .activeTab {
    background: #FFBF46;
    color: #182C64;
    width: 80%;
    display: flex;
    padding: 0.7rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    border: 5px solid #5574ca
}

.addClassTab {
    background: #07112A;
    border: 5px solid #E9F1F7;
    color: #E9F1F7;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 80%;
    display: flex;
    padding: 0.7rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.addClassTab:hover {
    background: #E9F1F7;
    border: 5px solid #07112A;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 80%;
    display: flex;
    padding: 0.7rem;
    border-radius: 15px;
    color: #07112A;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.addClassSection {
    display: flex;
    width: 100%;
}

.plusSymbol {
    padding-top: 0.2rem;
}

.noClassLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.noClassBox {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 35rem;
    border-radius: 100%;
    justify-content: center;
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.noClassMessage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.noClassMessage button {
    background: #E9F1F7;
    color: #182C64;
    padding: 1.5rem;
    border: 6px solid #5574ca;
    border-radius: 15px;
    font-size: 1.3rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.noClassMessage button:hover {
    background: #182C64;
    color: #E9F1F7;
    padding: 1.5rem;
    border: 6px solid #E9F1F7;
    border-radius: 15px;
    font-size: 1.3rem;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

@keyframes moveShadow {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(270deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes moveShadow {
    0% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
    25% {
        box-shadow: 0 0 20px 0 rgba(0, 255, 0, 0.5), 0 0 40px 0 rgba(0, 0, 255, 0.5), 0 0 60px 0 rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.5), 0 0 40px 0 rgba(255, 0, 0, 0.5), 0 0 60px 0 rgba(0, 255, 0, 0.5);
    }
    75% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
}