.classInfoLayout {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
    height: 20%;
    /* background: rgb(14, 13, 13); */
}

.classInfoOpener {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classInfoOpener h1 {
    color: #FFBF46;
    padding-bottom: 3rem;
}

.studentList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5rem;
    grid-row-gap: 13.5rem; 
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.starsContainer {
    position: relative;
    width: 10rem;
    height: 1rem;
    border-radius: 50%;
    overflow: visible;
    padding-top: 2rem;
}

.star, .bigStar {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(248, 248, 149);
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: revolve 10s linear infinite, fadeIn 0.3s forwards;

}

.bigStar {
    width: 1rem;
    height: 1rem;
    background: rgb(247, 180, 55);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes revolve {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(7rem); /* Adjust distance if needed */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(7rem); /* Adjust distance if needed */
    }
}

.starsContainerStudent {
    position: relative;
    width: 10rem;
    height: 1rem;
    border-radius: 50%;
    overflow: visible;
    padding-top: 2rem;
}

.starStudent, .bigStarStudent {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(248, 248, 149);
    border-radius: 50%;
    top: 80%;
    left: 150%; 
    transform: translate(-50%, -50%);
    animation: revolveStudent 10s linear infinite;
}

.bigStarStudent {
    width: 1rem;
    height: 1rem;
    background: rgb(247, 180, 55);
}

@keyframes revolveStudent {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(17rem); /* Adjust distance if needed */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(17rem); /* Adjust distance if needed */
    }
}

.studentList .student {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.studentList .student:hover {
    background: #E9F1F7;
    color: black;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.studentList .student.mercury {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #b5b5b5, #8a8a8a);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
    
}

.studentList .student.mercury:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.mercury {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #b5b5b5, #8a8a8a);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    
}

.studentList .student.venus {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #e5c27d, #c0a464);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.venus:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.venus {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #e5c27d, #c0a464);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.earth {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle at 20% 20%, #4f83b4, #3078a8, #0d3b66);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.earth:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.earth {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle at 20% 20%, #4f83b4, #3078a8, #0d3b66);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.mars {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #d14b40, #a5352a);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.mars:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.mars {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #d14b40, #a5352a);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.jupiter {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: linear-gradient(45deg, #d9a066, #e5cf9a, #d9a066);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.jupiter:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.jupiter {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: linear-gradient(45deg, #d9a066, #e5cf9a, #d9a066);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.saturn {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #e5cf9a, #c1aa76);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.saturn:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.saturn {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #e5cf9a, #c1aa76);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.uranus {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #8fc0d0, #6a9dad);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.uranus:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.uranus {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #8fc0d0, #6a9dad);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.neptune {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #4977a3, #365a84);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.neptune:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.neptune {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #4977a3, #365a84);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}

.studentList .student.pluto {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #cbb8a4, #a39280);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    position: absolute;
}

.studentList .student.pluto:hover {
    width: 10rem;
    height: 10rem;
    position: absolute;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.studentInfo .student.pluto {
    /* border: 5px solid #FFBF46; */
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    justify-content: center;
    background: radial-gradient(circle, #cbb8a4, #a39280);
    color: #E9F1F7;
    animation: moveShadow 10s linear infinite;
}


@keyframes moveShadow {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    75% {
        transform: translate(-50%, -50%) rotate(270deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes moveShadow {
    0% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
    25% {
        box-shadow: 0 0 20px 0 rgba(0, 255, 0, 0.5), 0 0 40px 0 rgba(0, 0, 255, 0.5), 0 0 60px 0 rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.5), 0 0 40px 0 rgba(255, 0, 0, 0.5), 0 0 60px 0 rgba(0, 255, 0, 0.5);
    }
    75% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.5), 0 0 40px 0 rgba(0, 255, 0, 0.5), 0 0 60px 0 rgba(0, 0, 255, 0.5);
    }
}



.studentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studentPoints {
    margin-top: 4rem;
}