.studentInfoLayout {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.studentInfoTop {
    display: flex;
    flex-direction: column;
}

.studentInfoMiddle {
    display: flex;
    padding: 2rem;
    gap: 2rem;
}

.rewardsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background: #E9F1F7;
    max-width: 50rem;
    max-height: 510px;
    width: 100%;
    min-width: 20rem;
    border: 7px solid #5574ca;
    border-radius: 20px;
}

.rewardsSection .addRewardButton {
    background: #FFBF46;
    border: 2px solid #5574ca;
    border-radius: 15px;
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 2px 2px 5px black;
}

.rewardTitle {
    background: #FFBF46;
    border-bottom: 4px solid #5574ca;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.feedbackSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background: #E9F1F7;
    max-width: 50rem;
    min-width: 20rem;
    width: 100%;
    max-height: 510px;
    border: 7px solid #5574ca;
    border-radius: 20px;
}

.feedbackSection .addRewardButton {
    background: #C03221;
    border: 2px solid #5574ca;
    border-radius: 15px;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: 2px 2px 5px black;
}

.feedbackTitle {
    background: #C03221;
    border-bottom: 4px solid #5574ca;
    color: #E9F1F7;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.addRewardButton {
    padding: 1rem;
}

.editStudentButton {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 15rem;
    width: auto;
    min-width: 4rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out;
}

.editStudentButton:hover {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 15rem;
    width: auto;
    min-width: 4rem;
    box-shadow: 2px 2px 5px black;
    background: #FFBF46;
    transition: background 0.2s ease-in-out;
}

.removeStudentButton {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 15rem;
    width: auto;
    min-width: 4rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out;
}

.removeStudentButton:hover {
    border: 2px solid #5574ca;
    background: #C03221;
    color: #E9F1F7;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 15rem;
    width: auto;
    min-width: 4rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.studentInfoButtons {
    display: flex;
    gap: 1rem;
}