.postList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 2000px 0 #5574ca;
    background: #5574ca;
}

.postArea {
    background: #E9F1F7;
    border-top: 10px solid #5574ca;
    border-left: 10px solid #5574ca;
    border-right: 10px solid #5574ca;
}

.postArea:last-child {
    background: #E9F1F7;
    border-top: 10px solid #5574ca;
    border-left: 10px solid #5574ca;
    border-right: 10px solid #5574ca;
    border-bottom: 10px solid #5574ca
}