.studentSearchLayout {
    width: 20rem;
    max-height: 100%;
    height: auto;
}

.studentSearchLayout input {
    width: 100%;
    height: auto;
}

.studentSearchResults {
    display: flex;
    flex-direction: column;
}

.studentSearchArea {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.studentSearchResults ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding-left: 0;
    margin-bottom: 0;
}

.studentSearchResults ul button {
    border-bottom: 1px solid black;
    width: 100%;
}