.postReplyFormLayout {
    display:flex;
    padding: 1.5rem;
    border-top: 2px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    position: sticky;
    /* max-height: 10rem; */
}

.postReplyFormLayout form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.postReplyFormLayout form input {
    width: 100%;
    min-height: 2rem;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    /* overflow: hidden; */
    scroll-behavior: auto;
}

.postReplyFormLayout form button {
    background: #E9F1F7;
    width: 4rem;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border: 2px solid #5574ca;
    color: #182C64;
    border-radius: 15px;
}

.postReplyFormLayout form button:hover {
    background: #5574ca;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #E9F1F7;
}
