.addStudentLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 30rem; */
    width: 50rem;
    padding: 2rem;
}

.addStudentTitle {
    padding-top: 2rem;
}

.addStudentSearch {
    padding-top: 3rem;
    margin-bottom: 5rem;
}

.addStudentSignUpLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.addStudentBottom button {
    text-decoration: underline;
    color: #C03221;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.addStudentBottom button:hover {
    text-decoration: underline;
    color: #E9F1F7;
    background: #C03221;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

