.loginBody {
    display: flex;
    flex-direction: column;
}

.loginGreeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.title {
    padding-bottom: 7rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E9F1F7;
}

.title h1 {
    -webkit-text-stroke: 3px #5574ca;
    display: flex;
}

.title h1 img {
    width: 4rem;
}

.title h3 {
    -webkit-text-stroke: 1px #5574ca;
}

.signUp {
    padding-bottom: 4rem;
}

.signUpSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #E9F1F7;
    border: 10px solid #5574ca;
    border-radius: 15px;
}

.buttonLayout {
    display: flex;
    justify-content: space-between;
    width: 45rem;
}

.buttonLayout button {
    background: #E9F1F7;
    border: 10px solid #5574ca;
    border-radius: 15px;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonLayout button:hover {
    background: #5574ca;
    border: 10px solid #E9F1F7;
    border-radius: 15px;
    color: #E9F1F7;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonContent {
    border: 1px solid black;
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.signUpIcon {
    font-size: 4rem;
    margin-bottom: -6rem;
}

.signUpUser {
    padding-top: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.loginSection {
    display: flex;
    padding: 1rem;
}

.loginButton {
    text-decoration: underline;
    color: #C03221;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.loginButton:hover {
    background: #C03221;
    color: #E9F1F7;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}