.signUpFormLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30rem;
    padding: 2rem;
    gap: 1rem;
}

.signUpFormLayout form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
}

.signUpButton {
    display: flex;
    justify-content: center;
}

.signUpFormLayout form button {
    background: #E9F1F7;
    border: 2px solid #5574ca;
    border-radius: 15px;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out;
}

.signUpFormLayout form button:hover {
    background: #FFBF46;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.honorific {
    width: 4rem;
}

