.signUpFormLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30rem;
    padding: 2rem;
    gap: 1rem;
}

.signUpFormLayout form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
}

.signUpButton {
    display: flex;
    justify-content: center;
}

.signUpFormLayout form button {
    background: #FFBF46;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.honorific {
    width: 4rem;
}

