.postReplyField {
    display: flex;
    flex-direction: column;
    color: black;
    width: 65rem;
    font-size: 1.1rem;
}

.editPostReplyFieldLayout form {
    padding: 1rem;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 65rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editPostReplyFieldLayout form textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    scroll-behavior: auto;
}

.editPostReplyButtons {
    display: flex;
    gap: 1rem;
}

.editPostReplyButtons button {
    border: 2px solid #5574ca;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    color: #182C64;
    box-shadow: 2px 2px 5px black;
}

.editPostReplyButtons button:hover {
    background: #5574ca;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #E9F1F7;
}

.postReplyField form textarea {
    width: 50rem;
    height: auto;
    border: 1px solid black;
}

.postReply {
    width: 65rem;
    background: #E9F1F7;
    padding: .5rem .5rem 0rem .5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

}
.postReplyBox {
    display: flex;
    flex-direction: column;
}

.postReplyInfo {
    display: flex;
    justify-content: space-between;
}

.username {
    padding-left: 3rem;
    font-weight: 700;
}

.postReplyText {
    width: 50rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.postReplyButtons {
    display: none
}

.postReply:hover .postReplyButtons {
    display: flex;
    justify-content: start;
    background: none;
    gap: 0.5rem;
    font-size: 1.1rem;
    padding-right: 3rem;
}

.postReplyButtons button:first-child:hover {
    color: #FFBF46;
    transition: color 0.2s ease-in-out;
}

.postReplyButtons button:last-child:hover {
    color: #C03221;
    transition: color 0.2s ease-in-out;
}