.modalContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 13rem;
    padding-top: 1rem;
    gap: 2rem;
}

.buttonContainer button:last-child {
    background: #E9F1F7;
    color: #182C64;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    border: 2px solid #5574ca;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonContainer button:last-child:hover {
    background: #FFBF46;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.buttonContainer button:first-child {
    background: #E9F1F7;
    color: #182C64;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    border: 2px solid #5574ca;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonContainer button:first-child:hover {
    background: #C03221;
    color: white;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}