.showComments {
    max-height: 2000px;
    opacity: 1;
    overflow: scroll;
    scrollbar-width: none;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hideComments {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

