.editStudentFormLayout {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;
    align-items: center;
}

.editStudentFormLayout form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.editStudentFormTitle {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.editStudentFormButtons {
    display: flex;
    gap: 2rem;
}

.editStudentFormButtons button:first-child {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    width: 12rem;
    box-shadow: 2px 2px 5px black;
    transition: background 0.2s ease-in-out;
}

.editStudentFormButtons button:first-child:hover {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    width: 12rem;
    box-shadow: 2px 2px 5px black;
    background: #FFBF46;
    transition: background 0.2s ease-in-out;
}