.editRewardsandFeedbackLayout {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.modalIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.editRewardsandFeedbackLayout p {
    width: 45rem;
}

.editBottomSection {
    display: flex;
    gap: 2rem;
}

.rewardElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background: #E9F1F7;
    max-width: 50rem;
    max-height: 510px;
    width: 100%;
    min-width: 20rem;
    border: 7px solid #5574ca;
    border-radius: 20px;
}

.rewardsListTitle {
    background: #FFBF46;
    border-bottom: 4px solid #5574ca;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.feedbackListTitle {
    background: #C03221;
    color: #E9F1F7;
    border-bottom: 4px solid #5574ca;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.rewardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 1rem;
    gap: 0.5rem;
}

.addRewardButton {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addRewardButton .error {
    display: flex;
    justify-content: center;
    color: #C03221;
}

.addRewardButton button {
    background: #FFBF46;
    border: 2px solid #5574ca;
    border-radius: 15px;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.addFeedbackButton button {
    background: #C03221;
    border: 2px solid #5574ca;
    border-radius: 15px;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.addFeedbackButton {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addFeedbackButton .error {
    display: flex;
    justify-content: center;
    color: #C03221;
}

.editRewardsSection {
    display: flex;
    flex-direction: column;
}

.rewardList .editButton {
    border: 2px solid #5574ca;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 15px;
    width: 10rem;
    box-shadow: 2px 2px 5px black;
}

.editButton button {
    width: 100%;
}


