.logInFormLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 25rem;
    padding: 2rem;
    gap: 1rem;
}

.logInFormLayout form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    gap: 1rem;
}

.loginButton {
    display: flex;
    justify-content: center;
}

.logInFormLayout form button {
    background: #FFBF46;
    width: 6rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.demoButtons {
    display: flex;
    gap: 1.5rem;
    padding-top: 1rem;
}

.demoButtons button {
    background: #C03221;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
}