.addClassFormLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
    gap: 1rem;
}

.addClassFormLayout form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 1rem;
    padding-top: 10%;
}

.formInput {
    display: flex;
    flex-direction: column;
}

.joinClassFormLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
    gap: 1rem;
}

.joinClassFormLayout form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addClassButton {
    display: flex;
    justify-content: center;
}

.addClassButton button:hover {
    background: #FFBF46;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    border: 2px solid #5574ca;
    border-radius: 15px;
    transition: background 0.2s ease-in-out;
}

.addClassButton button {
    background: #E9F1F7;
    width: 10rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 5px black;
    border: 2px solid #5574ca;
    border-radius: 15px;
    transition: background 0.2s ease-in-out;
}

.planetSelect {
    display: flex;
    gap: 1rem;
}