.navLayout {
  display: flex;
  flex-direction: column;
}

.navButtons {
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  gap: 5rem;
}

.navButtons button {
  border: 1px solid black;
}
